html {
  font-family: Arial;
}
h2 a {
  text-decoration: none;
  color: seagreen;
}

a {
  text-decoration: none;
}
.hoje {
  color: darkred;
}
.amanhã {
  color: darkblue;
}

p {
  font-size: 20px;
}
